/*
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  font-family: sans-serif;
  border-top: 0.1rem solid #E8E8E8;
}
