/*
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.layout_postlist{
  background-color: #FFF;

  &__header{
    padding: 15px;
  }

  &__content{
    background-color: #dad7d7;
    padding: 15px;
  }
}
