---
layout: default
---

<!-- Include Data Base  -->
{% include liquid/data %}

<div class="p-4 layout_postlist" itemscope="itemscope" itemtype="http://schema.org/Blog">

    <!-- This is a Blog Title -->
    <div class="layout_postlist__header">
      <div class="container-fluid">
        <div class="row">
          <h1 class="layout_postlist__title">{{ page.title }}</h1>
        </div>

        <!-- This is a Blog description -->
        <div class="row">
          <p class="layout_postlist__description">{{ content }}</p>
        </div>
      </div>
    </div>

  <!-- Loop of posts -->
    {% if site.posts.size > 0 %}

      {% for post in site.posts %}
      <div class="layout_postlist__content">

        <div class="container-fluid">

          <div class="row">
            <div class="col-8 col-lg-3 offset-lg-0 col-sm-6">
              <div class="row justify-content-start">
                <time class="layout_postlist__time">
                  {% datelang post %}
                  {% include datelang/post %}
                </time>
              </div>
            </div>
            <div class="col-4 col-lg-3 offset-lg-6 col-sm-6">
              <div class="row justify-content-end">
                <div class="layout_postlist__comments">
                  comments
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <a class="layout_postlist__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>

          <div class="row">
            <p class="layout_postlist__excerpted">{{ post.excerpted | strip_html | truncatewords:26 }}
              <a href="{{ post.url | prepend: site.baseurl }}">Continue</a>
            </p>
          </div>

        </div>
      </div>
      {% endfor %}

    {% endif %}

</div>
