---
layout: default
---

<!-- Include Data Base  -->
{% include liquid/data %}

<div class="p-4 layout_resume">

  <div class="container-fluid">

    <div class="layout_resume__header">
      <div class="row">
        <div class="col-9">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="col-3">
          <button type="button" name="button" class="btn btn-primary layout_resume__btnprint">Print</button>
        </div>
      </div>
    </div>

    <div class="layout_resume__content">
      <div class="row">
        <div>{{ content }}</div>
      </div>
    </div>

  </div>
